<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <a class='navbar-brand' href='#'>DAC</a>
    </div>
    <p class="navbar-text">Diretoria Acadêmica</p>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#/about">Sobre</a></li>
    </ul>
  </div>
</nav>
<div class='container'>
  {{outlet}}
</div>
